/* color palette from <https://github.com/vuejs/theme> */
:root {
  --ori-color-white: #dddee2;
  --ori-color-black: #1f1f1f;
  --ori-color-accent: #0029ff;
  --ori-trans: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  --burger-bars-length: calc(100% / 12 * 3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

#app {
  font-family: Inter, sans-serif;
  padding: 0 !important;
  margin: 0 !important;
}

html {
  overflow-y: hidden;
}

body {
  min-height: 100vh;
  color: var(--ori-color-black);
  background: var(--ori-color-white);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.3;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-y: scroll !important;
  height: 100vh;
  &.no-scroll {
    overflow: hidden !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s;
  position: relative;
  &::after {
    color: inherit;
    font-weight: inherit;
    content: "→";
    margin-left: 0;
    position: absolute;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &:hover {
    &::after {
      color: inherit;
      content: "→";
      margin-left: 12px;
      position: absolute;
      opacity: 1;
    }
  }
}
